<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/notification.css">
    <style>
        .reset-body{
            display: flex;
            width: 100vw;
             justify-content: center;
            align-items: center;
        }
        .reset-form{
            display:flex;
            flex-direction:column;
          
            margin:50px;
        }
        label, input[type='text'],button{
margin:5px;
        }
    </style>
</head>
<body>
<%- include('Notification') %>
    <div class="reset-body" >
        <form class="reset-form" action="/reset/fp_reset_link" method="POST">
        <label for="email">Enter Email ID</label>
        <input type="email" name="email" required/>
        <button type="submit">Send reset link</button>
    </form>
    </div>
    
</body>
</html>