<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="css/notification.css">
</head>
<body>
    <%- include('Notification') %>
    <div class="body">
        <form action="/set_new_password/set_password_nolink" method="POST" class="main">
            <div>
<label for="currentPassword">Current Password</label>
<input type="password" name="currentPassword" required/>


            </div>
            <div>
              <label for="newPassword">new Password</label>
              <input type="password" name="newPassword" required />


            </div>

            <button type="submit">Reset</button>

        </form>
    </div>
    
</body>
</html>