<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="css/notification.css">
</head>
<body>
    <div id="notification-bar">
        <% console.log(notification) %>
        <% if (notification) { %>
            <div class="notification <%= notification.type %>">
                <%= notification.message %>
            </div>
        <% } %>
    </div>


</body>
</html>
