<!DOCTYPE html>
<html>

<head>
  <title>Reset page</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    body {
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <%- include('Notification') %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="mb-4">Reset Password</h2>
        <form action="/reset/new_password" method="GET">
          <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-8">
        <h2 class="mb-4">Logout</h2>
        <form action="/logout" method="GET">
          <button class="btn btn-danger" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
