<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
</head>
<body style="display: flex;justify-content: center;align-items: center;">
    <%- include('Notification') %>
    
    <form action="/set_new_password/set_link_password" method="POST">
                <input type="hidden" name="user" value="<%= userMail %>">

        <h4 name="email"><%= userMail  %></h4>
<label for="password">New Password</label>
<input type="password" name="password" required placeholder="New Password">
<button type="submit">Set Password</button>

    </form>
</body>
</html>